certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
CodeforcesApiPy==2.0.9
colorama==0.4.4
cx-Oracle==8.3.0
Flask==2.0.3
flask-paginate==2022.1.8
idna==3.3
importlib-metadata==4.11.1
itsdangerous==2.1.0
Jinja2==3.0.3
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.0
requests==2.27.1
urllib3==1.26.8
Werkzeug==2.0.3
zipp==3.7.0
