{% extends "layout.html" %}

{% block body %}

<!-- <h1>
    Account Page for {{ username }}
</h1> -->

<div class="container-lg">

    <form method="post">

        <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" name="username" readonly class="form-control-plaintext" id="username" value="{{ username }}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="cf_handle" class="col-sm-2 col-form-label">Codeforces Handle</label>
            <div class="col-sm-10">
                <input type="text" name="cf_handle" class="form-control" id="cf_handle" value="{{ cf_handle }}" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="new_password1" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-10">
                <input type="password" name="new_password1" class="form-control" id="new_password1">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="new_password2" class="col-sm-2 col-form-label">Confirm New Password</label>
            <div class="col-sm-10">
                <input type="password" name="new_password2" class="form-control" id="new_password2">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Current Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </form>

</div>

{% endblock body %}