{% extends "layout.html" %}

{% block body %}

<div class="container p-3">

  <form method="post" class="row g-3">

    <div class="col-auto">

      <input name="contest_id" type="text" class="form-control" id="contest_id" placeholder="Contest ID">

    </div>

    <div class="col-auto">

      <button type="submit" class="btn btn-primary mb-3">Search by Contest ID</button>
      
    </div>

  </form>

</div>

<div class="container">
  <table class="table table-striped table-hover table-bordered">

    <thead>
      <tr>
        <th scope="col">Contest ID</th>
        <th scope="col">Contest Name</th>
        <th scope="col">Contest Date</th>

      </tr>
    </thead>

    <tbody>

      {% for contest in all_contests %}

      <tr>
        <td><a href="{{ url_for('contests.contest', contest_id=contest['contest_id']) }}">{{ contest['contest_id'] }}</a></td>
        <td>{{ contest['contest_name'] }}</td>
        <td>{{ contest['start_time'] }}</td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

<div class="container p-3">
  {{ pagination.links }}
</div>

{% endblock body %}