{% extends "layout.html" %}

{% block body %}

<h1>all contests</h1>

<table class="table caption-top">
    <caption>All contests list</caption>
    <thead>
      <tr>
        <th scope="col">contest ID</th>
        <th scope="col">contest name</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        
      </tr>
    </tbody>
  </table>
  

{% endblock body %}