{% extends "layout.html" %}

{% block body %}

<h1>all contests</h1>

<table class="table caption-top">
    <caption>All contests list</caption>
    <thead>
      <tr>
        <th scope="col">contest ID</th>
        <th scope="col">contest name</th>
        
      </tr>
    </thead>
    <tbody>

      {% for contest in all_contests %}

        <tr>
            <td>{{contest['contest_id']}}</td>
            <td>{{contest['contest_name']}}</td>
        </tr>

      {% endfor %}

    </tbody>
  </table>
  

{% endblock body %}