{% extends "layout.html" %}

{% block body %}

<div class="container p-3">
  <form method="post" class="row g-3">
    <!-- <div class="col-auto">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
    </div> -->
    <div class="col-auto">
      <!-- <label for="">Contest ID</label> -->
      <input name="problem_rating_low" type="text" class="form-control" id="problem_rating_low" placeholder="Problem Rating from">
    </div>
    <div class="col-auto">
      <!-- <label for="">Contest ID</label> -->
      <input name="problem_rating_high" type="text" class="form-control" id="problem_rating_high" placeholder="Problem Rating to">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Search by Problem Rating</button>
    </div>
  </form>
</div>

<div class="container">
  <table class="table table-striped table-hover table-bordered">

    <thead>
      <tr>
        <th scope="col">Problem ID</th>
        <th scope="col">Problem Name</th>
        <th scope="col">Difficulty Rating</th>

      </tr>
    </thead>

    <tbody>

      {% for problem in all_problems %}

      <tr>
        <td><a href="{{ url_for('problems.problem', contest_id=problem['contest_id'], problem_index=problem['problem_index']) }}">{{ problem['problem_id'] }}</a></td>
        <td>{{ problem['problem_name'] }}</td>
        <td>{{ problem['problem_rating'] }}</td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

{% endblock body %}